@use "../../styles" as s;
.present-best-studios {
    background-color: s.$background-color-presentation-studio;
    padding: 30px 20px;
    overflow: hidden;

    .present-best-studios__title {
        text-align: center;
        color: s.$secondary-color;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    @media (min-width: s.$tablet) {
        padding: 40px 30px;
    }
}
